@classPrefix: "rmpc";
@default: var(--rmpc-default);
@primary: var(--rmpc-primary);
@contrast: var(--rmpc-contrast);
@warning: var(--rmpc-warning);
@success: var(--rmpc-success);
@borderRadius: 12px;
@sm: 576px;
@md: 768px;
@lg: 992px;
@xl: 1200px;
@xxl: 1400px;
@extraSmall: "(max-width: 576px)";
@small: "(max-width: 768px)";
@medium: "(max-width: 992px)";
@large: "(max-width: 1200px)";
@extraLarge: "(max-width: 1400px)";
@largest: "(min-width: 1200px)";
